body{
  font-family: sans-serif;
}
.container{
  display: grid;
  /* grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33%; */
  /* grid-template: filas / columnas; */
  grid-template: 25% / 25%;
}
.item{
  border: 1px solid rgb(0,0,100);
  margin: 5px;
  padding: 5%;
  box-shadow: 2px 10 px black;
}
