body{
  font-family: sans-serif;
}
.container{
  display: grid;
  /* grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33%; */
  /* grid-template: filas / columnas; */
  /* grid-template: 1fr 1fr 1fr / 1fr 1fr; */
  grid-template: 1fr 1fr 1fr / minmax(200px, 1fr) 1fr 1fr 1fr;
  /* grid-gap: filas columnas; */
  grid-gap: 1em;
}
.item{
  border: 1px solid rgb(0,0,100);
  /* margin: 5px; */
  padding: 5%;
  box-shadow: 1em 1em 20px black;
}
.item:nth-of-type(4){
  background-color: rgb(150, 20, 240);
}
